## Java

*.class
*.war
*.ear
hs_err_pid*

## Eclipse
.classpath
.project
.metadata
**/bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.externalToolBuilders/
*.launch

## NetBeans
*.iml
*.ipr
*.iws

## Gradle

.gradle
gradle-app.setting
build/

## OS Specific
.DS_Store
.idea
.gradle
out/
jars
crash-reports/
src/main/java/com/*
src/main/java/idk/*
classes/*
world.xml
src/main/java/team/hdt/blockadia/game_engine_old/
